In [3]:
import spacy
import pandas as pd

nlp = spacy.load("en_core_web_sm")

data = {
    "id_no": [101, 102, 103, 104, 105],
    "first_name": ["Anata", "Asutosh", "Rada", "Bulai", "Chaitali"],
    "last_name": ["Sarkar", "Mukherjee", "Sengupto", "Chandra", "Mukherjee"],
    "age": [28, 34, 25, 45, 30],
    "salary": [55000.00, 63000.00, 45000.00, 80000.00, 57000.00]
}

df = pd.DataFrame(data)

In [4]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\kiit\anaconda31\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\kiit\anaconda31\lib\site-packages (from click->nltk) (0.4.6)

In [5]:
corpus="""Find employees aged above 30 with the highest salary. Show me the employees who are older than 25. List the employees with the lowest salary. Get the details of employees with a salary above 50000.
What are the first names of all employees? List the last names and ages of employees older than 30. Show the full details of employees who earn more than 60000. 
What are the names and salaries of employees whose last name is 'Mukherjee'? How many employees are there in the database?List the full names of employees sorted by age in descending order.
What is the average salary of employees? Show the full details of the youngest employee. What is the total salary expenditure for all employees? List the IDs and names of employees aged between 25 and 35.
What are the names of employees who are exactly 30 years old? List the employees' first names and their salaries, but only show those with a salary less than 60000. 
What is the highest salary in the employee database? Show the full details of employees with the last name starting with 'S'. List the employees whose first name contains 'ai'. """

In [6]:
print(corpus)

Find employees aged above 30 with the highest salary. Show me the employees who are older than 25. List the employees with the lowest salary. Get the details of employees with a salary above 50000.
What are the first names of all employees? List the last names and ages of employees older than 30. Show the full details of employees who earn more than 60000.
What are the names and salaries of employees whose last name is 'Mukherjee'? How many employees are there in the database?List the full names of employees sorted by age in descending order.
What is the average salary of employees? Show the full details of the youngest employee. What is the total salary expenditure for all employees? List the IDs and names of employees aged between 25 and 35.
What are the names of employees who are exactly 30 years old? List the employees' first names and their salaries, but only show those with a salary less than 60000.
What is the highest salary in the employee database? Show the full details of employees with the last name starting with 'S'. List the employees whose first name contains 'ai'.

In [8]:
from nltk.tokenize import word_tokenize
word_tokenize(corpus)
for sentence in documents:
    print(word_tokenize(sentence))

['Find', 'employees', 'aged', 'above', '30', 'with', 'the', 'highest', 'salary', '.']
['Show', 'me', 'the', 'employees', 'who', 'are', 'older', 'than', '25', '.']
['List', 'the', 'employees', 'with', 'the', 'lowest', 'salary', '.']
['Get', 'the', 'details', 'of', 'employees', 'with', 'a', 'salary', 'above', '50000', '.']
['What', 'are', 'the', 'first', 'names', 'of', 'all', 'employees', '?']
['List', 'the', 'last', 'names', 'and', 'ages', 'of', 'employees', 'older', 'than', '30', '.']
['Show', 'the', 'full', 'details', 'of', 'employees', 'who', 'earn', 'more', 'than', '60000', '.']
['What', 'are', 'the', 'names', 'and', 'salaries', 'of', 'employees', 'whose', 'last', 'name', 'is', "'Mukherjee", "'", '?']
['How', 'many', 'employees', 'are', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'names', 'of', 'employees', 'sorted', 'by', 'age', 'in', 'descending', 'order', '.']
['What', 'is', 'the', 'average', 'salary', 'of', 'employees', '?']
['Show', 'the', 'full', 'details', 'of', 'the', 'youngest', 'employee', '.']
['What', 'is', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employees', '?']
['List', 'the', 'IDs', 'and', 'names', 'of', 'employees', 'aged', 'between', '25', 'and', '35', '.']
['What', 'are', 'the', 'names', 'of', 'employees', 'who', 'are', 'exactly', '30', 'years', 'old', '?']
['List', 'the', 'employees', "'", 'first', 'names', 'and', 'their', 'salaries', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.']
['What', 'is', 'the', 'highest', 'salary', 'in', 'the', 'employee', 'database', '?']
['Show', 'the', 'full', 'details', 'of', 'employees', 'with', 'the', 'last', 'name', 'starting', 'with', "'S", "'", '.']
['List', 'the', 'employees', 'whose', 'first', 'name', 'contains', "'ai", "'", '.']

In [9]:
from nltk.tokenize import wordpunct_tokenize
wordpunct_tokenize(corpus)
for sentence in documents:
    print(wordpunct_tokenize(sentence))

['Find', 'employees', 'aged', 'above', '30', 'with', 'the', 'highest', 'salary', '.']
['Show', 'me', 'the', 'employees', 'who', 'are', 'older', 'than', '25', '.']
['List', 'the', 'employees', 'with', 'the', 'lowest', 'salary', '.']
['Get', 'the', 'details', 'of', 'employees', 'with', 'a', 'salary', 'above', '50000', '.']
['What', 'are', 'the', 'first', 'names', 'of', 'all', 'employees', '?']
['List', 'the', 'last', 'names', 'and', 'ages', 'of', 'employees', 'older', 'than', '30', '.']
['Show', 'the', 'full', 'details', 'of', 'employees', 'who', 'earn', 'more', 'than', '60000', '.']
['What', 'are', 'the', 'names', 'and', 'salaries', 'of', 'employees', 'whose', 'last', 'name', 'is', "'", 'Mukherjee', "'?"]
['How', 'many', 'employees', 'are', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'names', 'of', 'employees', 'sorted', 'by', 'age', 'in', 'descending', 'order', '.']
['What', 'is', 'the', 'average', 'salary', 'of', 'employees', '?']
['Show', 'the', 'full', 'details', 'of', 'the', 'youngest', 'employee', '.']
['What', 'is', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employees', '?']
['List', 'the', 'IDs', 'and', 'names', 'of', 'employees', 'aged', 'between', '25', 'and', '35', '.']
['What', 'are', 'the', 'names', 'of', 'employees', 'who', 'are', 'exactly', '30', 'years', 'old', '?']
['List', 'the', 'employees', "'", 'first', 'names', 'and', 'their', 'salaries', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.']
['What', 'is', 'the', 'highest', 'salary', 'in', 'the', 'employee', 'database', '?']
['Show', 'the', 'full', 'details', 'of', 'employees', 'with', 'the', 'last', 'name', 'starting', 'with', "'", 'S', "'."]
['List', 'the', 'employees', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]

In [26]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import wordpunct_tokenize
from nltk import pos_tag

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')


lemmatizer = WordNetLemmatizer()

# mapping NLTK POS tags to WordNet POS tags
def get_wordnet_pos(nltk_pos_tag):
    if nltk_pos_tag.startswith('J'):
        return 'a'  # Adjective
    elif nltk_pos_tag.startswith('V'):
        return 'v'  # Verb
    elif nltk_pos_tag.startswith('N'):
        return 'n'  # Noun
    elif nltk_pos_tag.startswith('R'):
        return 'r'  # Adverb
    else:
        return None

tokenized_sentences = [
    ['Find', 'employees', 'aged', 'above', '30', 'with', 'the', 'highest', 'salary', '.'],
    ['Show', 'me', 'the', 'employees', 'who', 'are', 'older', 'than', '25', '.'],
    ['List', 'the', 'employees', 'with', 'the', 'lowest', 'salary', '.'],
    ['Get', 'the', 'details', 'of', 'employees', 'with', 'a', 'salary', 'above', '50000', '.'],
    ['What', 'are', 'the', 'first', 'names', 'of', 'all', 'employees', '?'],
    ['List', 'the', 'last', 'names', 'and', 'ages', 'of', 'employees', 'older', 'than', '30', '.'],
    ['Show', 'the', 'full', 'details', 'of', 'employees', 'who', 'earn', 'more', 'than', '60000', '.'],
    ['What', 'are', 'the', 'names', 'and', 'salaries', 'of', 'employees', 'whose', 'last', 'name', 'is', "'", 'Mukherjee', "'?"],
    ['How', 'many', 'employees', 'are', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'names', 'of', 'employees', 'sorted', 'by', 'age', 'in', 'descending', 'order', '.'],
    ['What', 'is', 'the', 'average', 'salary', 'of', 'employees', '?'],
    ['Show', 'the', 'full', 'details', 'of', 'the', 'youngest', 'employee', '.'],
    ['What', 'is', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employees', '?'],
    ['List', 'the', 'IDs', 'and', 'names', 'of', 'employees', 'aged', 'between', '25', 'and', '35', '.'],
    ['What', 'are', 'the', 'names', 'of', 'employees', 'who', 'are', 'exactly', '30', 'years', 'old', '?'],
    ['List', 'the', 'employees', "'", 'first', 'names', 'and', 'their', 'salaries', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.'],
    ['What', 'is', 'the', 'highest', 'salary', 'in', 'the', 'employee', 'database', '?'],
    ['Show', 'the', 'full', 'details', 'of', 'employees', 'with', 'the', 'last', 'name', 'starting', 'with', "'", 'S', "'."],
    ['List', 'the', 'employees', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]
]

# lemmatizing each token in a sentence
def lemmatize_sentence(sentence):
    
    tokens = wordpunct_tokenize(sentence)
    pos_tags = pos_tag(tokens)

   #pos tag based
    lemmatized_sentence = []
    for token, pos in pos_tags:
        wordnet_pos = get_wordnet_pos(pos) or 'n'  # Default to noun if no POS mapping is found
        lemmatized_token = lemmatizer.lemmatize(token, pos=wordnet_pos)
        lemmatized_sentence.append(lemmatized_token)
    return lemmatized_sentence
    
lemmatized_sentences = [lemmatize_sentence(' '.join(sentence)) for sentence in tokenized_sentences]

for sentence in lemmatized_sentences:
    print(sentence)

['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary', '.']
['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25', '.']
['List', 'the', 'employee', 'with', 'the', 'low', 'salary', '.']
['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000', '.']
['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee', '?']
['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30', '.']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000', '.']
['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', "'", 'Mukherjee', "'?"]
['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order', '.']
['What', 'be', 'the', 'average', 'salary', 'of', 'employee', '?']
['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee', '.']
['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee', '?']
['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35', '.']
['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old', '?']
['List', 'the', 'employee', "'", 'first', 'name', 'and', 'their', 'salary', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.']
['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database', '?']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', "'", 'S', "'."]
['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## lemmatization and punctuation removed with out removing stopwords

In [11]:
import string

sentences = [
    ['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary', '.'],
    ['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25', '.'],
    ['List', 'the', 'employee', 'with', 'the', 'low', 'salary', '.'],
    ['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000', '.'],
    ['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee', '?'],
    ['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30', '.'],
    ['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000', '.'],
    ['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', "'", 'Mukherjee', "'?"],
    ['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order', '.'],
    ['What', 'be', 'the', 'average', 'salary', 'of', 'employee', '?'],
    ['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee', '.'],
    ['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee', '?'],
    ['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35', '.'],
    ['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old', '?'],
    ['List', 'the', 'employee', "'", 'first', 'name', 'and', 'their', 'salary', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.'],
    ['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database', '?'],
    ['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', "'", 'S', "'."],
    ['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]
]

def remove_punctuation(sentences):
    punctuations = string.punctuation
    cleaned_sentences = []
    for sentence in sentences:
        cleaned_sentence = []
        for word in sentence:
            cleaned_word = word.translate(str.maketrans('', '', punctuations))
            if cleaned_word:
                cleaned_sentence.append(cleaned_word)
        cleaned_sentences.append(cleaned_sentence)
    
    return cleaned_sentences
cleaned_sentences = remove_punctuation(sentences)
for cleaned_sentence in cleaned_sentences:
    print(cleaned_sentence)

['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary']
['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25']
['List', 'the', 'employee', 'with', 'the', 'low', 'salary']
['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000']
['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee']
['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000']
['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', 'Mukherjee']
['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database', 'List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order']
['What', 'be', 'the', 'average', 'salary', 'of', 'employee']
['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee']
['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee']
['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35']
['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old']
['List', 'the', 'employee', 'first', 'name', 'and', 'their', 'salary', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000']
['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', 'S']
['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', 'ai']

## removing stopwords and punctuations

In [27]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
nltk.download('punkt')
nltk.download('stopwords')

def parse_and_tokenize_query(query):
    return word_tokenize(query)
    
def remove_stop_words(tokens):
    stop_words = set(stopwords.words('english'))
    additional_stop_words = {'show', 'me', 'list', 'get', 'what', 'be', 'how', 'many', 'of', 'in', 'the', 'for', 'all', 'only', 'a', 'with', 'who', 'there', 'above'}
    stop_words = stop_words.union(additional_stop_words)
    return [word for word in tokens if word.lower() not in stop_words]

def remove_punctuation(tokens):
    return [word for word in tokens if word not in string.punctuation]

sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]
for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    important_tokens = remove_stop_words(tokens)
    clean_tokens = remove_punctuation(important_tokens)
    print(clean_tokens)

['Find', 'employees', 'aged', '30', 'highest', 'salary']
['employees', 'older', '25']
['employees', 'lowest', 'salary']
['details', 'employees', 'salary', '50000']
['first', 'names', 'employees']
['last', 'names', 'ages', 'employees', 'older', '30']
['full', 'details', 'employees', 'earn', '60000']
['names', 'salaries', 'employees', 'whose', 'last', 'name', '``', 'Mukherjee', "''"]
['employees', 'database', 'full', 'names', 'employees', 'sorted', 'age', 'descending', 'order']
['average', 'salary', 'employees']
['full', 'details', 'youngest', 'employee']
['total', 'salary', 'expenditure', 'employees']
['IDs', 'names', 'employees', 'aged', '25', '35']
['names', 'employees', 'exactly', '30', 'years', 'old']
['employees', 'first', 'names', 'salaries', 'salary', 'less', '60000']
['highest', 'salary', 'employee', 'database']
['full', 'details', 'employees', 'last', 'name', 'starting', '``', "''"]
['employees', 'whose', 'first', 'name', 'contains', '``', 'ai', "''"]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### replacing synonyms

In [28]:
import re
sentences = [
    ['Find', 'employees', 'aged', '30', 'highest', 'salary'],
    ['employees', 'older', '25'],
    ['employees', 'lowest', 'salary'],
    ['details', 'employees', 'salary', '50000'],
    ['first', 'names', 'employees'],
    ['last', 'names', 'ages', 'employees', 'older', '30'],
    ['full', 'details', 'employees', 'earn', '60000'],
    ['names', 'salaries', 'employees', 'last', 'name', 'Mukherjee'],
    ['employees', 'database', 'full', 'names', 'employees', 'sorted', 'age', 'descending', 'order'],
    ['average', 'salary', 'employees'],
    ['full', 'details', 'youngest', 'employee'],
    ['total', 'salary', 'expenditure', 'employees'],
    ['IDs', 'names', 'employees', 'aged', '25', '35'],
    ['names', 'employees', 'exactly', '30', 'years', 'old'],
    ['employees', 'first', 'names', 'salaries', 'show', 'salary', '60000'],
    ['highest', 'salary', 'employee', 'database'],
    ['full', 'details', 'employees', 'last', 'name', 'starting', 'S'],
    ['employees', 'first', 'name', 'contains', 'ai']
]

# Synonyms dictionary
synonyms = {
    'aged': 'age',
    'highest': 'max',
    'lowest': 'min',
    'details': 'details',
    'first': 'first_name',
    'names': 'name',
    'last': 'last_name',
    'ages': 'age',
    'older': 'greater_than',
    'earn': 'salary',
    'salaries': 'salary',
    'database': 'Employees',
    'sorted': 'order_by',
    'age': 'age',
    'descending': 'desc',
    'order': 'order',
    'average': 'avg',
    'youngest': 'min_age',
    'total': 'sum',
    'IDs': 'id',
    'exactly': 'equals',
    'years': 'age',
    'show': 'select',
    'starting': 'startswith',
    'contains': 'contains'
}

def replace_synonyms(sentence, synonyms_dict):
    return [synonyms_dict.get(word, word) for word in sentence]
processed_sentences = [replace_synonyms(sentence, synonyms) for sentence in sentences]
processed_sentences = [" ".join(sentence) for sentence in processed_sentences]
for sentence in processed_sentences:
    print(sentence)

Find employees age 30 max salary
employees greater_than 25
employees min salary
details employees salary 50000
first_name name employees
last_name name age employees greater_than 30
full details employees salary 60000
name salary employees last_name name Mukherjee
employees Employees full name employees order_by age desc order
avg salary employees
full details min_age employee
sum salary expenditure employees
id name employees age 25 35
name employees equals 30 age old
employees first_name name salary select salary 60000
max salary employee Employees
full details employees last_name name startswith S
employees first_name name contains ai

## using stopword and also user given

In [1]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

example_sentences = [
    "Find employees age 30 max salary",
    "Employees greater_than 25",
    "Employees min salary",
    "Details employees salary 50000",
    "First_name name employees",
    "Last_name name age employees greater_than 30",
    "Full details employees salary 60000",
    "Name salary employees last_name name Mukherjee",
    "Employees Employees full name employees order_by age desc order",
    "Avg salary employees",
    "Full details min_age employee",
    "Sum salary expenditure employees",
    "ID name employees age 25 35",
    "Name employees equals 30 age old",
    "Employees first_name name salary select salary 60000",
    "Max salary employee Employees",
    "Full details employees last_name name startswith S",
    "Employees first_name name contains ai"
]

# Synonym map
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}

def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def get_keyword(token, synonym_map):
    for key, synonyms in synonym_map.items():
        if token in synonyms:
            return key
    return None

def preprocess_query(query):
    tokens = word_tokenize(query.lower())
    pos_tags = nltk.pos_tag(tokens)
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token, get_wordnet_pos(pos)) for token, pos in pos_tags]
    lemmatized_tokens = [re.sub(r'[^\w\s]', '', token) for token in lemmatized_tokens]
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in lemmatized_tokens if token not in stop_words and token.strip() != '']
    return filtered_tokens
    
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and ('highest' in tokens or 'max' in tokens):
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens:
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."
user_input = input("Enter your natural language query: ")
tokens = preprocess_query(user_input)
sql_query = generate_sql_query(tokens)
print("Generated SQL Query:", sql_query)

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Enter your natural language query:  What is the highest salary in the employee database?

Generated SQL Query: Query not recognized or supported.

## without stop word but must copypaste the sentance example

In [1]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
example_sentences = [
    "Find employees age 30 max salary",
    "Employees greater_than 25",
    "Employees min salary",
    "Details employees salary 50000",
    "First_name name employees",
    "Last_name name age employees greater_than 30",
    "Full details employees salary 60000",
    "Name salary employees last_name name Mukherjee",
    "Employees Employees full name employees order_by age desc order",
    "Avg salary employees",
    "Full details min_age employee",
    "Sum salary expenditure employees",
    "ID name employees age 25 35",
    "Name employees equals 30 age old",
    "Employees first_name name salary select salary 60000",
    "Max salary employee Employees",
    "Full details employees last_name name startswith S",
    "Employees first_name name contains ai"
]

synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}

def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def get_keyword(token, synonym_map):
    for key, synonyms in synonym_map.items():
        if token in synonyms:
            return key
    return None

def preprocess_query(query):
    tokens = word_tokenize(query.lower())
    pos_tags = nltk.pos_tag(tokens)
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token, get_wordnet_pos(pos)) for token, pos in pos_tags]
    lemmatized_tokens = [re.sub(r'[^\w\s]', '', token) for token in lemmatized_tokens]
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in lemmatized_tokens if token not in stop_words and token.strip() != '']
    return filtered_tokens

def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and ('highest' in tokens or 'max' in tokens):
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens:
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."
user_input = input("Enter your natural language query: ")
tokens = preprocess_query(user_input)
sql_query = generate_sql_query(tokens)
print("Generated SQL Query:", sql_query)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Enter your natural language query:  Find employees age 30 max salary"

Generated SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

### without removing stop words and no user input

In [3]:
import re
import nltk
from nltk.tokenize import word_tokenize
#from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}
def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def get_keyword(token, synonym_map):
    for key, synonyms in synonym_map.items():
        if token in synonyms:
            return key
    return None

def preprocess_query(query):
    tokens = word_tokenize(query.lower())
    pos_tags = nltk.pos_tag(tokens)
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token, get_wordnet_pos(pos)) for token, pos in pos_tags]
    lemmatized_tokens = [re.sub(r'[^\w\s]', '', token) for token in lemmatized_tokens]
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in lemmatized_tokens if token not in stop_words and token.strip() != '']
    return filtered_tokens
    
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and ('high' in tokens or 'maximum' in tokens):
        return "SELECT * FROM Employees WHERE salary > 50000 ORDER BY salary DESC"
    elif 'old' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'low' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'name' in tokens:
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'name' in tokens and 'age' in tokens and '30' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'detail' in tokens and 'earn' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'name' in tokens and 'salary' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'many' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'name' in tokens and 'list' in tokens and 'sort' in tokens and 'age' in tokens and 'desc' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'full' in tokens and 'detail' in tokens and 'young' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'name' in tokens and 'age' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'name' in tokens and 'age' in tokens and '30' in tokens:
        return "SELECT first_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'name' in tokens and 'salary' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'high' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'detail' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
        
queries = [
    ['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary'],
    ['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25'],
    ['List', 'the', 'employee', 'with', 'the', 'low', 'salary'],
    ['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000'],
    ['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee'],
    ['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30'],
    ['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000'],
    ['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', 'Mukherjee'],
    ['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database'],
    ['List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order'],
    ['What', 'be', 'the', 'average', 'salary', 'of', 'employee'],
    ['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee'],
    ['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee'],
    ['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35'],
    ['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old'],
    ['List', 'the', 'employee', 'first', 'name', 'and', 'their', 'salary', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000'],
    ['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database'],
    ['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', 'S'],
    ['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', 'ai']
]

for query in queries:
    preprocessed_query = preprocess_query(' '.join(query))
    sql_query = generate_sql_query(preprocessed_query)
    print(f"Original Query: {query}")
    print(f"Preprocessed Tokens: {preprocessed_query}")
    print(f"Generated SQL Query: {sql_query}\n")
#giving wronh outputs

Original Query: ['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary']
Preprocessed Tokens: ['find', 'employee', 'age', '30', 'high', 'salary']
Generated SQL Query: SELECT * FROM Employees WHERE salary > 50000 ORDER BY salary DESC

Original Query: ['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25']
Preprocessed Tokens: ['show', 'employee', 'old', '25']
Generated SQL Query: SELECT * FROM Employees WHERE age > 25

Original Query: ['List', 'the', 'employee', 'with', 'the', 'low', 'salary']
Preprocessed Tokens: ['list', 'employee', 'low', 'salary']
Generated SQL Query: SELECT * FROM Employees ORDER BY salary ASC

Original Query: ['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000']
Preprocessed Tokens: ['get', 'detail', 'employee', 'salary', '50000']
Generated SQL Query: None

Original Query: ['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee']
Preprocessed Tokens: ['first', 'name', 'employee']
Generated SQL Query: SELECT first_name FROM Employees

Original Query: ['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30']
Preprocessed Tokens: ['list', 'last', 'name', 'age', 'employee', 'old', '30']
Generated SQL Query: SELECT last_name, age FROM Employees WHERE age > 30

Original Query: ['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000']
Preprocessed Tokens: ['show', 'full', 'detail', 'employee', 'earn', '60000']
Generated SQL Query: SELECT * FROM Employees WHERE salary > 60000

Original Query: ['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', 'Mukherjee']
Preprocessed Tokens: ['name', 'salary', 'employee', 'whose', 'last', 'name', 'mukherjee']
Generated SQL Query: None

Original Query: ['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database']
Preprocessed Tokens: ['many', 'employee', 'database']
Generated SQL Query: None

Original Query: ['List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order']
Preprocessed Tokens: ['list', 'full', 'name', 'employee', 'sort', 'age', 'descend', 'order']
Generated SQL Query: None

Original Query: ['What', 'be', 'the', 'average', 'salary', 'of', 'employee']
Preprocessed Tokens: ['average', 'salary', 'employee']
Generated SQL Query: SELECT AVG(salary) AS average_salary FROM Employees

Original Query: ['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee']
Preprocessed Tokens: ['show', 'full', 'detail', 'young', 'employee']
Generated SQL Query: SELECT * FROM Employees ORDER BY age ASC LIMIT 1

Original Query: ['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee']
Preprocessed Tokens: ['total', 'salary', 'expenditure', 'employee']
Generated SQL Query: SELECT SUM(salary) AS total_salary FROM Employees

Original Query: ['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35']
Preprocessed Tokens: ['list', 'id', 'name', 'employee', 'age', '25', '35']
Generated SQL Query: None

Original Query: ['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old']
Preprocessed Tokens: ['name', 'employee', 'exactly', '30', 'year', 'old']
Generated SQL Query: None

Original Query: ['List', 'the', 'employee', 'first', 'name', 'and', 'their', 'salary', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000']
Preprocessed Tokens: ['list', 'employee', 'first', 'name', 'salary', 'show', 'salary', 'less', '60000']
Generated SQL Query: SELECT first_name FROM Employees

Original Query: ['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database']
Preprocessed Tokens: ['high', 'salary', 'employee', 'database']
Generated SQL Query: SELECT * FROM Employees WHERE salary > 50000 ORDER BY salary DESC

Original Query: ['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', 'S']
Preprocessed Tokens: ['show', 'full', 'detail', 'employee', 'last', 'name', 'start']
Generated SQL Query: None

Original Query: ['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', 'ai']
Preprocessed Tokens: ['list', 'employee', 'whose', 'first', 'name', 'contain', 'ai']
Generated SQL Query: SELECT first_name FROM Employees

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## stopwords not removed and without user given input but inpute must be intact

In [1]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
nltk.download('punkt')
nltk.download('wordnet')

def parse_and_tokenize_query(query):
    return word_tokenize(query)

def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

import nltk
from nltk.corpus import wordnet as wn
nltk.download('wordnet')
# Base set of SQL keywords
base_sql_keywords = {
    "SELECT": ["find", "get", "retrieve", "list", "show", "display"],
    "FROM": ["from"],
    "WHERE": ["where", "filter", "condition"],
    "ORDER BY": ["sort", "order by"],
    "GROUP BY": ["group by"],
    "COUNT": ["count", "number of"],
    "SUM": ["sum", "total", "add"],
    "AVG": ["average", "mean"],
    "MAX": ["maximum", "highest"],
    "MIN": ["minimum", "lowest"],
    "LIKE": ["contains", "starts with", "ends with"],
    "AND": ["and"],
    "OR": ["or"],
    ">": ["greater than", "above"],
    "<": ["less than", "below"],
    "=": ["equals", "is"]
}

# Function to get synonyms using WordNet
def get_synonyms(word):
    synonyms = set()
    for syn in wn.synsets(word):
        for lemma in syn.lemmas():
            synonyms.add(lemma.name().replace("_", " "))
    return list(synonyms)

# Generate synonym_map and keyword_map
synonym_map = {}
keyword_map = {}

for sql_term, words in base_sql_keywords.items():
    for word in words:
        synonyms = get_synonyms(word)
        synonym_map[word] = synonyms
        for synonym in synonyms:
            keyword_map[synonym] = sql_term

# Add the base words to the keyword_map
for sql_term, words in base_sql_keywords.items():
    for word in words:
        keyword_map[word] = sql_term

# Display the generated maps
#print("Synonym Map:")
#for key, value in synonym_map.items():
    #print(f'"{key}": {value},')

#print("\nKeyword Map:")
#for key, value in keyword_map.items():
    #print(f'"{key}": "{value}",')


def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and 'highest' in tokens:
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens and ('employees' in tokens or 'staff' in tokens):
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."

sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]
user_query = input("Please enter your query: ")
tokens = parse_and_tokenize_query(user_query)
lemmatized_tokens = lemmatize_tokens(tokens)
sql_query = generate_sql_query(lemmatized_tokens)
print(f"Input Query: {user_query}")
print(f"SQL Query: {sql_query}")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Please enter your query:  Rule out the staff who is older than 25.

Input Query: Rule out the staff who is older than 25.
SQL Query: SELECT * FROM Employees WHERE age > 25

In [25]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download required resources
nltk.download('punkt')
# nltk.download('stopwords')
nltk.download('wordnet')

# Function to parse and tokenize a query
def parse_and_tokenize_query(query):
    return word_tokenize(query)

# Function to lemmatize tokens
def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

# Synonym map (remains unchanged)
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map (remains unchanged)
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "full": "details",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}

# Function to generate SQL queries based on input tokens
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens_set and 'highest' in tokens_set and any(token.isdigit() for token in tokens):
        age = next(token for token in tokens if token.isdigit())
        return f"SELECT * FROM Employees WHERE age > {age} ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens_set and 'than' in tokens_set and any(token.isdigit() for token in tokens):
        age = next(token for token in tokens if token.isdigit())
        return f"SELECT * FROM Employees WHERE age > {age}"
    elif 'lowest' in tokens_set and 'salary' in tokens_set:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and any(token.isdigit() for token in tokens):
        salary = next(token for token in tokens if token.isdigit())
        return f"SELECT * FROM Employees WHERE salary > {salary}"
    elif 'first' in tokens_set and 'names' in tokens_set:
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens_set and 'names' in tokens_set and 'ages' in tokens_set:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens_set and 'details' in tokens_set and 'salary' in tokens_set and any(token.isdigit() for token in tokens):
        salary = next(token for token in tokens if token.isdigit())
        return f"SELECT * FROM Employees WHERE salary > {salary}"
    elif 'names' in tokens_set and 'salaries' in tokens_set and 'Mukherjee' in tokens_set:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens_set and 'employees' in tokens_set:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens_set and 'names' in tokens_set and 'sorted' in tokens_set and 'age' in tokens_set:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens_set and 'salary' in tokens_set:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens_set and 'employee' in tokens_set:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens_set and 'salary' in tokens_set and 'expenditure' in tokens_set:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens_set and 'names' in tokens_set and 'aged' in tokens_set and 'between' in tokens_set and any(token.isdigit() for token in tokens):
        age_range = [token for token in tokens if token.isdigit()]
        return f"SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN {age_range[0]} AND {age_range[1]}"
    elif 'names' in tokens_set and 'exactly' in tokens_set and any(token.isdigit() for token in tokens):
        age = next(token for token in tokens if token.isdigit())
        return f"SELECT first_name, last_name FROM Employees WHERE age = {age}"
    elif 'first' in tokens_set and 'names' in tokens_set and 'salaries' in tokens_set and 'less' in tokens_set and any(token.isdigit() for token in tokens):
        salary = next(token for token in tokens if token.isdigit())
        return f"SELECT first_name, salary FROM Employees WHERE salary < {salary}"
    elif 'highest' in tokens_set and 'salary' in tokens_set:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens_set and 'details' in tokens_set and 'last' in tokens_set and 'name' in tokens_set and 'starting' in tokens_set:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens_set and 'name' in tokens_set and 'contains' in tokens_set:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."

# List of input sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database?',
    'List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

# Processing each query
for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    lemmatized_tokens = lemmatize_tokens(tokens)
    sql_query = generate_sql_query(lemmatized_tokens)
    print(f"Input Query: {input_query}")
    print(f"SQL Query: {sql_query}\n")

Input Query: Find employees aged above 30 with the highest salary.
SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

Input Query: Show me the employees who are older than 25.
SQL Query: SELECT * FROM Employees WHERE age > 25

Input Query: List the employees with the lowest salary.
SQL Query: SELECT * FROM Employees ORDER BY salary ASC LIMIT 1

Input Query: Get the details of employees with a salary above 50000.
SQL Query: SELECT * FROM Employees WHERE salary > 50000

Input Query: What are the first names of all employees?
SQL Query: Query not recognized or supported.

Input Query: List the last names and ages of employees older than 30.
SQL Query: SELECT * FROM Employees WHERE age > 30

Input Query: Show the full details of employees who earn more than 60000.
SQL Query: Query not recognized or supported.

Input Query: What are the names and salaries of employees whose last name is "Mukherjee"?
SQL Query: Query not recognized or supported.

Input Query: How many employees are there in the database?
SQL Query: Query not recognized or supported.

Input Query: List the full names of employees sorted by age in descending order.
SQL Query: Query not recognized or supported.

Input Query: What is the average salary of employees?
SQL Query: SELECT AVG(salary) AS average_salary FROM Employees

Input Query: Show the full details of the youngest employee.
SQL Query: SELECT * FROM Employees ORDER BY age ASC LIMIT 1

Input Query: What is the total salary expenditure for all employees?
SQL Query: SELECT SUM(salary) AS total_salary FROM Employees

Input Query: List the IDs and names of employees aged between 25 and 35.
SQL Query: Query not recognized or supported.

Input Query: What are the names of employees who are exactly 30 years old?
SQL Query: Query not recognized or supported.

Input Query: List the employees first names and their salaries, but only show those with a salary less than 60000.
SQL Query: Query not recognized or supported.

Input Query: What is the highest salary in the employee database?
SQL Query: SELECT MAX(salary) AS highest_salary FROM Employees

Input Query: Show the full details of employees with the last name starting with "S".
SQL Query: Query not recognized or supported.

Input Query: List the employees whose first name contains "ai".
SQL Query: SELECT * FROM Employees WHERE first_name LIKE '%ai%'

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
import nltk
from nltk.corpus import wordnet as wn

# Download WordNet data
nltk.download('wordnet')

# List of words for which we need synonyms
words = ["find", "details", "employees", "employee", "age", "id", "salary", "maximum", "minimum", "max", "min", 
         "greater", "greater_than", "less_than", "less", "equals", "full", "first_name", "last_name", "avg", "sum", 
         "total", "starts_with", "contains", "order_by", "descending", "ascending", "desc", "asc"]

# Function to get synonyms from WordNet
def get_synonyms(word):
    synonyms = set()
    for synset in wn.synsets(word):
        for lemma in synset.lemmas():
            synonyms.add(lemma.name().replace('_', ' '))
    return list(synonyms)

# Generate synonym map
synonym_map = {word: get_synonyms(word) for word in words}

# Display the synonym map
for key, value in synonym_map.items():
    print(f'"{key}": {value},')

"find": ['rule', 'receive', 'retrieve', 'get hold', 'detect', 'feel', 'find out', 'ascertain', 'uncovering', 'chance', 'incur', 'breakthrough', 'come up', 'regain', 'notice', 'recover', 'determine', 'obtain', 'witness', 'encounter', 'see', 'line up', 'discover', 'happen', 'discovery', 'find', 'bump', 'find oneself', 'get', 'observe'],
"details": ['particular', 'contingent', 'point', 'inside information', 'detail', 'details', 'item'],
"employees": ['employee'],
"employee": ['employee'],
"age": ['historic period', 'geezerhood', 'years', 'senesce', 'mature', 'eld', 'long time', 'get on', 'age', 'maturate', 'old age'],
"id": ['id', 'ID', 'I.D.', 'Idaho', 'Gem State'],
"salary": ['salary', 'pay', 'earnings', 'wage', 'remuneration'],
"maximum": ['level best', 'uttermost', 'utmost', 'maximum', 'upper limit', 'maximal'],
"minimum": ['minimal', 'minimum', 'lower limit'],
"max": ['soap', 'scoop', 'Georgia home boy', 'easy lay', 'grievous bodily harm', 'max', 'goop', 'liquid ecstasy'],
"min": ['Fukien', 'min', 'Min dialect', 'Amoy', 'Taiwanese', 'Min', 'Fukkianese', 'Hokkianese', 'minute'],
"greater": ['keen', 'dandy', 'with child', 'enceinte', 'slap-up', 'expectant', 'corking', 'neat', 'not bad', 'great', 'groovy', 'big', 'majuscule', 'bang-up', 'greater', 'nifty', 'gravid', 'peachy', 'cracking', 'outstanding', 'bully', 'swell', 'capital', 'large', 'smashing', 'heavy'],
"greater_than": [],
"less_than": [],
"less": ['lupus erythematosus', 'LE', 'less', 'to a lesser extent'],
"equals": ['equalise', 'peer', 'equal', 'compeer', 'match', 'rival', 'equate', 'equalize', 'touch', 'be'],
"full": ['replete', 'wide', 'to the full', 'full-of-the-moon', 'good', 'wide-cut', 'full', 'full phase of the moon', 'entire', 'broad', 'total', 'fully', 'wax', 'full moon'],
"first_name": ['forename', 'given name', 'first name'],
"last_name": ['cognomen', 'family name', 'surname', 'last name'],
"avg": [],
"sum": ['amount', 'sum total', 'kernel', 'add together', 'core', 'meat', 'center', 'summarize', 'essence', 'nub', 'add up', 'union', 'centre', 'tote up', 'substance', 'aggregate', 'sum up', 'summate', 'inwardness', 'sum of money', 'add', 'tot up', 'totality', 'join', 'marrow', 'nitty-gritty', 'tally', 'amount of money', 'summation', 'summarise', 'tot', 'heart and soul', 'sum', 'gist', 'pith', 'total', 'heart'],
"total": ['amount', 'tally', 'aggregate', 'come', 'sum up', 'summate', 'tot', 'add up', 'sum', 'add', 'add together', 'tot up', 'full', 'entire', 'totality', 'number', 'total', 'tote up'],
"starts_with": [],
"contains": ['take', 'incorporate', 'moderate', 'curb', 'turn back', 'stop', 'comprise', 'bear', 'contain', 'carry', 'control', 'hold in', 'check', 'arrest', 'hold back', 'hold'],
"order_by": [],
"descending": ['condescend', 'come', 'come down', 'settle', 'derive', 'descend', 'go down', 'fall', 'deign', 'descending'],
"ascending": ['go up', 'come up', 'uprise', 'rise', 'ascension', 'move up', 'climb up', 'ascending', 'ascent', 'ascend'],
"desc": [],
"asc": [],

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### with stopwords included and not user given

In [5]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download required resources
nltk.download('punkt')
#nltk.download('stopwords')
nltk.download('wordnet')

# Function to parse and tokenize a query
def parse_and_tokenize_query(query):
    return word_tokenize(query)


# Function to lemmatize tokens
def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

# Synonym map
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "full": "details",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}

# Function to generate SQL queries based on input tokens
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and 'highest' in tokens:
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens and ('employees' in tokens or 'staff' in tokens):
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."


# List of input sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

# Processing each query
for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    #filtered_tokens = remove_stop_words(tokens)
    lemmatized_tokens = lemmatize_tokens(tokens)
    sql_query = generate_sql_query(lemmatized_tokens)
    print(f"Input Query: {input_query}")
    print(f"SQL Query: {sql_query}\n")

Input Query: Find employees aged above 30 with the highest salary.
SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

Input Query: Show me the employees who are older than 25.
SQL Query: SELECT * FROM Employees WHERE age > 25

Input Query: List the employees with the lowest salary.
SQL Query: SELECT * FROM Employees ORDER BY salary ASC LIMIT 1

Input Query: Get the details of employees with a salary above 50000.
SQL Query: SELECT * FROM Employees WHERE salary > 50000

Input Query: What are the first names of all employees?
SQL Query: Query not recognized or supported.

Input Query: List the last names and ages of employees older than 30.
SQL Query: Query not recognized or supported.

Input Query: Show the full details of employees who earn more than 60000.
SQL Query: Query not recognized or supported.

Input Query: What are the names and salaries of employees whose last name is "Mukherjee"?
SQL Query: Query not recognized or supported.

Input Query: How many employees are there in the database? List the full names of employees sorted by age in descending order.
SQL Query: Query not recognized or supported.

Input Query: What is the average salary of employees?
SQL Query: SELECT AVG(salary) AS average_salary FROM Employees

Input Query: Show the full details of the youngest employee.
SQL Query: SELECT * FROM Employees ORDER BY age ASC LIMIT 1

Input Query: What is the total salary expenditure for all employees?
SQL Query: SELECT SUM(salary) AS total_salary FROM Employees

Input Query: List the IDs and names of employees aged between 25 and 35.
SQL Query: Query not recognized or supported.

Input Query: What are the names of employees who are exactly 30 years old?
SQL Query: Query not recognized or supported.

Input Query: List the employees' first names and their salaries, but only show those with a salary less than 60000.
SQL Query: Query not recognized or supported.

Input Query: What is the highest salary in the employee database?
SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

Input Query: Show the full details of employees with the last name starting with "S".
SQL Query: Query not recognized or supported.

Input Query: List the employees whose first name contains "ai".
SQL Query: SELECT * FROM Employees WHERE first_name LIKE '%ai%'

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
import nltk
from nltk.corpus import wordnet as wn

# Download WordNet data
nltk.download('wordnet')

# List of words for which we need synonyms
words = ["find", "details", "employees", "employee", "age", "id", "salary", "maximum", "minimum", "max", "min", 
         "greater", "greater_than", "less_than", "less", "equals", "full", "first_name", "last_name", "avg", "sum", 
         "total", "starts_with", "contains", "order_by", "descending", "ascending", "desc", "asc"]

# Function to get synonyms from WordNet
def get_synonyms(word):
    synonyms = set()
    for synset in wn.synsets(word):
        for lemma in synset.lemmas():
            synonyms.add(lemma.name().replace('_', ' '))
    return list(synonyms)

# Generate synonym map
synonym_map = {word: get_synonyms(word) for word in words}

# Display the synonym map
for key, value in synonym_map.items():
    print(f'"{key}": {value},')

"find": ['rule', 'receive', 'retrieve', 'get hold', 'detect', 'feel', 'find out', 'ascertain', 'uncovering', 'chance', 'incur', 'breakthrough', 'come up', 'regain', 'notice', 'recover', 'determine', 'obtain', 'witness', 'encounter', 'see', 'line up', 'discover', 'happen', 'discovery', 'find', 'bump', 'find oneself', 'get', 'observe'],
"details": ['particular', 'contingent', 'point', 'inside information', 'detail', 'details', 'item'],
"employees": ['employee'],
"employee": ['employee'],
"age": ['historic period', 'geezerhood', 'years', 'senesce', 'mature', 'eld', 'long time', 'get on', 'age', 'maturate', 'old age'],
"id": ['id', 'ID', 'I.D.', 'Idaho', 'Gem State'],
"salary": ['salary', 'pay', 'earnings', 'wage', 'remuneration'],
"maximum": ['level best', 'uttermost', 'utmost', 'maximum', 'upper limit', 'maximal'],
"minimum": ['minimal', 'minimum', 'lower limit'],
"max": ['soap', 'scoop', 'Georgia home boy', 'easy lay', 'grievous bodily harm', 'max', 'goop', 'liquid ecstasy'],
"min": ['Fukien', 'min', 'Min dialect', 'Amoy', 'Taiwanese', 'Min', 'Fukkianese', 'Hokkianese', 'minute'],
"greater": ['keen', 'dandy', 'with child', 'enceinte', 'slap-up', 'expectant', 'corking', 'neat', 'not bad', 'great', 'groovy', 'big', 'majuscule', 'bang-up', 'greater', 'nifty', 'gravid', 'peachy', 'cracking', 'outstanding', 'bully', 'swell', 'capital', 'large', 'smashing', 'heavy'],
"greater_than": [],
"less_than": [],
"less": ['lupus erythematosus', 'LE', 'less', 'to a lesser extent'],
"equals": ['equalise', 'peer', 'equal', 'compeer', 'match', 'rival', 'equate', 'equalize', 'touch', 'be'],
"full": ['replete', 'wide', 'to the full', 'full-of-the-moon', 'good', 'wide-cut', 'full', 'full phase of the moon', 'entire', 'broad', 'total', 'fully', 'wax', 'full moon'],
"first_name": ['forename', 'given name', 'first name'],
"last_name": ['cognomen', 'family name', 'surname', 'last name'],
"avg": [],
"sum": ['amount', 'sum total', 'kernel', 'add together', 'core', 'meat', 'center', 'summarize', 'essence', 'nub', 'add up', 'union', 'centre', 'tote up', 'substance', 'aggregate', 'sum up', 'summate', 'inwardness', 'sum of money', 'add', 'tot up', 'totality', 'join', 'marrow', 'nitty-gritty', 'tally', 'amount of money', 'summation', 'summarise', 'tot', 'heart and soul', 'sum', 'gist', 'pith', 'total', 'heart'],
"total": ['amount', 'tally', 'aggregate', 'come', 'sum up', 'summate', 'tot', 'add up', 'sum', 'add', 'add together', 'tot up', 'full', 'entire', 'totality', 'number', 'total', 'tote up'],
"starts_with": [],
"contains": ['take', 'incorporate', 'moderate', 'curb', 'turn back', 'stop', 'comprise', 'bear', 'contain', 'carry', 'control', 'hold in', 'check', 'arrest', 'hold back', 'hold'],
"order_by": [],
"descending": ['condescend', 'come', 'come down', 'settle', 'derive', 'descend', 'go down', 'fall', 'deign', 'descending'],
"ascending": ['go up', 'come up', 'uprise', 'rise', 'ascension', 'move up', 'climb up', 'ascending', 'ascent', 'ascend'],
"desc": [],
"asc": [],

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
# List of keywords and their corresponding SQL equivalents
keywords_sql = [
    ("find", "SELECT"),
    ("details", "*"),
    ("employees", "FROM Employees"),
    ("employee", "employee"),
    ("age", "age"),
    ("id", "id_no"),
    ("salary", "salary"),
    ("maximum", "MAX"),
    ("minimum", "MIN"),
    ("max", "MAX"),
    ("min", "MIN"),
    ("greater_than", ">"),
    ("less_than", "<"),
    ("equals", "="),
    ("first_name", "first_name"),
    ("last_name", "last_name"),
    ("full", "details"),
    ("avg", "AVG"),
    ("sum", "SUM"),
    ("starts_with", "LIKE"),
    ("contains", "LIKE"),
    ("order_by", "ORDER BY"),
    ("descending", "DESC"),
    ("ascending", "ASC"),
    ("desc", "DESC"),
    ("asc", "ASC")
]

# Generate the keyword_map
keyword_map = {keyword: sql for keyword, sql in keywords_sql}

# Display the keyword map
for key, value in keyword_map.items():
    print(f'"{key}": "{value}",')

"find": "SELECT",
"details": "*",
"employees": "FROM Employees",
"employee": "employee",
"age": "age",
"id": "id_no",
"salary": "salary",
"maximum": "MAX",
"minimum": "MIN",
"max": "MAX",
"min": "MIN",
"greater_than": ">",
"less_than": "<",
"equals": "=",
"first_name": "first_name",
"last_name": "last_name",
"full": "details",
"avg": "AVG",
"sum": "SUM",
"starts_with": "LIKE",
"contains": "LIKE",
"order_by": "ORDER BY",
"descending": "DESC",
"ascending": "ASC",
"desc": "DESC",
"asc": "ASC",

In [5]:
import nltk
from nltk.corpus import wordnet as wn

# Download required resources
nltk.download('wordnet')

# Base set of SQL keywords
base_sql_keywords = {
    "SELECT": ["find", "get", "retrieve", "list", "show", "display"],
    "FROM": ["from"],
    "WHERE": ["where", "filter", "condition"],
    "ORDER BY": ["sort", "order by"],
    "GROUP BY": ["group by"],
    "COUNT": ["count", "number of"],
    "SUM": ["sum", "total", "add"],
    "AVG": ["average", "mean"],
    "MAX": ["maximum", "highest"],
    "MIN": ["minimum", "lowest"],
    "LIKE": ["contains", "starts with", "ends with"],
    "AND": ["and"],
    "OR": ["or"],
    ">": ["greater than", "above"],
    "<": ["less than", "below"],
    "=": ["equals", "is"]
}

# Function to get synonyms using WordNet
def get_synonyms(word):
    synonyms = set()
    for syn in wn.synsets(word):
        for lemma in syn.lemmas():
            synonyms.add(lemma.name().replace("_", " "))
    return list(synonyms)

# Generate synonym_map and keyword_map
synonym_map = {}
keyword_map = {}

for sql_term, words in base_sql_keywords.items():
    for word in words:
        synonyms = get_synonyms(word)
        synonym_map[word] = synonyms
        for synonym in synonyms:
            keyword_map[synonym] = sql_term

# Add the base words to the keyword_map
for sql_term, words in base_sql_keywords.items():
    for word in words:
        keyword_map[word] = sql_term

# Display the generated maps
print("Synonym Map:")
for key, value in synonym_map.items():
    print(f'"{key}": {value},')

print("\nKeyword Map:")
for key, value in keyword_map.items():
    print(f'"{key}": "{value}",')

Synonym Map:
"find": ['rule', 'receive', 'retrieve', 'get hold', 'detect', 'feel', 'find out', 'ascertain', 'uncovering', 'chance', 'incur', 'breakthrough', 'come up', 'regain', 'notice', 'recover', 'determine', 'obtain', 'witness', 'encounter', 'see', 'line up', 'discover', 'happen', 'discovery', 'find', 'bump', 'find oneself', 'get', 'observe'],
"get": ['scram', 'dumbfound', 'take', 'begin', 'sustain', 'receive', 'baffle', 'beat', 'produce', 'become', 'commence', 'catch', 'stick', 'cause', "get under one's skin", 'go', 'vex', 'have', 'suffer', 'arrest', 'fuck off', 'mystify', 'capture', 'father', 'sire', 'bring forth', 'amaze', 'incur', 'bugger off', 'puzzle', 'come', 'drive', 'get down', 'set about', 'pose', 'grow', 'develop', 'engender', 'stupefy', 'beget', 'acquire', 'aim', 'buzz off', 'let', 'obtain', 'arrive', 'make', 'pay off', 'bring', 'stimulate', 'draw', 'perplex', 'gravel', 'mother', 'nonplus', 'experience', 'start out', 'contract', 'fix', 'find', 'induce', 'start', 'bewilder', 'fetch', 'flummox', 'get', 'convey', 'generate', 'pay back', 'set out'],
"retrieve": ['remember', 'think', 'retrieve', 'recollect', 'find', 'recall', 'regain', 'recover', 'call back', 'call up'],
"list": ['leaning', 'lean', 'name', 'tilt', 'inclination', 'number', 'list', 'listing', 'heel'],
"show": ['evince', 'register', 'picture', 'show up', 'read', 'depict', 'record', 'usher', 'designate', 'demonstrate', 'prove', 'establish', 'demo', 'evidence', 'indicate', 'point', 'shew', 'exhibit', 'bear witness', 'display', 'express', 'testify', 'appearance', 'present', 'render', 'show'],
"display": ['presentation', 'expose', 'video display', 'showing', 'exhibit', 'show', 'display'],
"from": [],
"where": [],
"filter": ['separate out', 'strain', 'sink in', 'percolate', 'filter out', 'permeate', 'filter', 'filtrate', 'dribble', 'trickle'],
"condition": ['train', 'status', 'qualify', 'term', 'precondition', 'condition', 'circumstance', 'check', 'shape', 'consideration', 'stipulate', 'experimental condition', 'discipline', 'specify', 'stipulation'],
"sort": ['screen', 'screen out', 'class', 'sort', 'classify', 'separate', 'sorting', 'variety', 'sieve', 'form', 'sort out', 'kind', 'assort'],
"order by": [],
"group by": [],
"count": ['tally', 'enumeration', 'numerate', 'reckoning', 'reckon', 'look', 'calculate', 'consider', 'depend', 'bet', 'number', 'weigh', 'numeration', 'count', 'counting', 'enumerate', 'matter'],
"number of": [],
"sum": ['amount', 'sum total', 'kernel', 'add together', 'core', 'meat', 'center', 'summarize', 'essence', 'nub', 'add up', 'union', 'centre', 'tote up', 'substance', 'aggregate', 'sum up', 'summate', 'inwardness', 'sum of money', 'add', 'tot up', 'totality', 'join', 'marrow', 'nitty-gritty', 'tally', 'amount of money', 'summation', 'summarise', 'tot', 'heart and soul', 'sum', 'gist', 'pith', 'total', 'heart'],
"total": ['amount', 'tally', 'aggregate', 'come', 'sum up', 'summate', 'tot', 'add up', 'sum', 'add', 'add together', 'tot up', 'full', 'entire', 'totality', 'number', 'total', 'tote up'],
"add": ['ADHD', 'add together', 'impart', 'append', 'lend', 'add up', 'ADD', 'tote up', 'hyperkinetic syndrome', 'bestow', 'summate', 'sum up', 'add', 'tot up', 'attention deficit disorder', 'minimal brain damage', 'supply', 'bring', 'contribute', 'MBD', 'tally', 'tot', 'sum', 'minimal brain dysfunction', 'attention deficit hyperactivity disorder', 'total'],
"average": ['modal', 'average out', 'middling', 'fair', 'intermediate', 'mean', 'average', 'norm', 'ordinary', 'medium', 'mediocre', 'median'],
"mean": ['bastardly', 'miserly', 'meanspirited', 'mean value', 'entail', 'signify', 'intend', 'tight', 'hateful', 'imply', 'have in mind', 'mingy', 'stand for', 'think', 'base', 'average', 'beggarly', 'think of', 'mean'],
"maximum": ['level best', 'uttermost', 'utmost', 'maximum', 'upper limit', 'maximal'],
"highest": ['mellow', 'eminent', 'high-pitched', 'gamey', 'gamy', 'high', 'in high spirits'],
"minimum": ['minimal', 'minimum', 'lower limit'],
"lowest": ['broken', 'lowest', 'low-pitched', 'abject', 'scummy', 'down in the mouth', 'low', 'dispirited', 'low-spirited', 'last', 'low-toned', 'depleted', 'small', 'last-place', 'grim', 'depressed', 'scurvy', 'miserable', 'modest', 'downcast', 'low-down', 'gloomy', 'crushed', 'humble', 'humbled', 'down', 'lowly', 'blue', 'downhearted', 'humiliated'],
"contains": ['take', 'incorporate', 'moderate', 'curb', 'turn back', 'stop', 'comprise', 'bear', 'contain', 'carry', 'control', 'hold in', 'check', 'arrest', 'hold back', 'hold'],
"starts with": [],
"ends with": [],
"and": [],
"or": ['Beaver State', 'operating theater', 'OR', 'Oregon', 'operating room', 'surgery', 'operating theatre'],
"greater than": [],
"above": ['in a higher place', 'higher up', 'to a higher place', 'supra', 'above'],
"less than": [],
"below": ['infra', 'beneath', 'to a lower place', 'on a lower floor', 'below', 'down the stairs', 'downstairs', 'at a lower place', 'under'],
"equals": ['equalise', 'peer', 'equal', 'compeer', 'match', 'rival', 'equate', 'equalize', 'touch', 'be'],
"is": ['exist', 'represent', 'constitute', 'equal', 'embody', 'comprise', 'make up', 'follow', 'cost', 'personify', 'live', 'be'],

Keyword Map:
"rule": "SELECT",
"receive": "SELECT",
"retrieve": "SELECT",
"get hold": "SELECT",
"detect": "SELECT",
"feel": "SELECT",
"find out": "SELECT",
"ascertain": "SELECT",
"uncovering": "SELECT",
"chance": "SELECT",
"incur": "SELECT",
"breakthrough": "SELECT",
"come up": "SELECT",
"regain": "SELECT",
"notice": "SELECT",
"recover": "SELECT",
"determine": "SELECT",
"obtain": "SELECT",
"witness": "SELECT",
"encounter": "SELECT",
"see": "SELECT",
"line up": "SELECT",
"discover": "SELECT",
"happen": "SELECT",
"discovery": "SELECT",
"find": "SELECT",
"bump": "SELECT",
"find oneself": "SELECT",
"get": "SELECT",
"observe": "SELECT",
"scram": "SELECT",
"dumbfound": "SELECT",
"take": "LIKE",
"begin": "SELECT",
"sustain": "SELECT",
"baffle": "SELECT",
"beat": "SELECT",
"produce": "SELECT",
"become": "SELECT",
"commence": "SELECT",
"catch": "SELECT",
"stick": "SELECT",
"cause": "SELECT",
"get under one's skin": "SELECT",
"go": "SELECT",
"vex": "SELECT",
"have": "SELECT",
"suffer": "SELECT",
"arrest": "LIKE",
"fuck off": "SELECT",
"mystify": "SELECT",
"capture": "SELECT",
"father": "SELECT",
"sire": "SELECT",
"bring forth": "SELECT",
"amaze": "SELECT",
"bugger off": "SELECT",
"puzzle": "SELECT",
"come": "SUM",
"drive": "SELECT",
"get down": "SELECT",
"set about": "SELECT",
"pose": "SELECT",
"grow": "SELECT",
"develop": "SELECT",
"engender": "SELECT",
"stupefy": "SELECT",
"beget": "SELECT",
"acquire": "SELECT",
"aim": "SELECT",
"buzz off": "SELECT",
"let": "SELECT",
"arrive": "SELECT",
"make": "SELECT",
"pay off": "SELECT",
"bring": "SUM",
"stimulate": "SELECT",
"draw": "SELECT",
"perplex": "SELECT",
"gravel": "SELECT",
"mother": "SELECT",
"nonplus": "SELECT",
"experience": "SELECT",
"start out": "SELECT",
"contract": "SELECT",
"fix": "SELECT",
"induce": "SELECT",
"start": "SELECT",
"bewilder": "SELECT",
"fetch": "SELECT",
"flummox": "SELECT",
"convey": "SELECT",
"generate": "SELECT",
"pay back": "SELECT",
"set out": "SELECT",
"remember": "SELECT",
"think": "AVG",
"recollect": "SELECT",
"recall": "SELECT",
"call back": "SELECT",
"call up": "SELECT",
"leaning": "SELECT",
"lean": "SELECT",
"name": "SELECT",
"tilt": "SELECT",
"inclination": "SELECT",
"number": "SUM",
"list": "SELECT",
"listing": "SELECT",
"heel": "SELECT",
"evince": "SELECT",
"register": "SELECT",
"picture": "SELECT",
"show up": "SELECT",
"read": "SELECT",
"depict": "SELECT",
"record": "SELECT",
"usher": "SELECT",
"designate": "SELECT",
"demonstrate": "SELECT",
"prove": "SELECT",
"establish": "SELECT",
"demo": "SELECT",
"evidence": "SELECT",
"indicate": "SELECT",
"point": "SELECT",
"shew": "SELECT",
"exhibit": "SELECT",
"bear witness": "SELECT",
"display": "SELECT",
"express": "SELECT",
"testify": "SELECT",
"appearance": "SELECT",
"present": "SELECT",
"render": "SELECT",
"show": "SELECT",
"presentation": "SELECT",
"expose": "SELECT",
"video display": "SELECT",
"showing": "SELECT",
"separate out": "WHERE",
"strain": "WHERE",
"sink in": "WHERE",
"percolate": "WHERE",
"filter out": "WHERE",
"permeate": "WHERE",
"filter": "WHERE",
"filtrate": "WHERE",
"dribble": "WHERE",
"trickle": "WHERE",
"train": "WHERE",
"status": "WHERE",
"qualify": "WHERE",
"term": "WHERE",
"precondition": "WHERE",
"condition": "WHERE",
"circumstance": "WHERE",
"check": "LIKE",
"shape": "WHERE",
"consideration": "WHERE",
"stipulate": "WHERE",
"experimental condition": "WHERE",
"discipline": "WHERE",
"specify": "WHERE",
"stipulation": "WHERE",
"screen": "ORDER BY",
"screen out": "ORDER BY",
"class": "ORDER BY",
"sort": "ORDER BY",
"classify": "ORDER BY",
"separate": "ORDER BY",
"sorting": "ORDER BY",
"variety": "ORDER BY",
"sieve": "ORDER BY",
"form": "ORDER BY",
"sort out": "ORDER BY",
"kind": "ORDER BY",
"assort": "ORDER BY",
"tally": "SUM",
"enumeration": "COUNT",
"numerate": "COUNT",
"reckoning": "COUNT",
"reckon": "COUNT",
"look": "COUNT",
"calculate": "COUNT",
"consider": "COUNT",
"depend": "COUNT",
"bet": "COUNT",
"weigh": "COUNT",
"numeration": "COUNT",
"count": "COUNT",
"counting": "COUNT",
"enumerate": "COUNT",
"matter": "COUNT",
"amount": "SUM",
"sum total": "SUM",
"kernel": "SUM",
"add together": "SUM",
"core": "SUM",
"meat": "SUM",
"center": "SUM",
"summarize": "SUM",
"essence": "SUM",
"nub": "SUM",
"add up": "SUM",
"union": "SUM",
"centre": "SUM",
"tote up": "SUM",
"substance": "SUM",
"aggregate": "SUM",
"sum up": "SUM",
"summate": "SUM",
"inwardness": "SUM",
"sum of money": "SUM",
"add": "SUM",
"tot up": "SUM",
"totality": "SUM",
"join": "SUM",
"marrow": "SUM",
"nitty-gritty": "SUM",
"amount of money": "SUM",
"summation": "SUM",
"summarise": "SUM",
"tot": "SUM",
"heart and soul": "SUM",
"sum": "SUM",
"gist": "SUM",
"pith": "SUM",
"total": "SUM",
"heart": "SUM",
"full": "SUM",
"entire": "SUM",
"ADHD": "SUM",
"impart": "SUM",
"append": "SUM",
"lend": "SUM",
"ADD": "SUM",
"hyperkinetic syndrome": "SUM",
"bestow": "SUM",
"attention deficit disorder": "SUM",
"minimal brain damage": "SUM",
"supply": "SUM",
"contribute": "SUM",
"MBD": "SUM",
"minimal brain dysfunction": "SUM",
"attention deficit hyperactivity disorder": "SUM",
"modal": "AVG",
"average out": "AVG",
"middling": "AVG",
"fair": "AVG",
"intermediate": "AVG",
"mean": "AVG",
"average": "AVG",
"norm": "AVG",
"ordinary": "AVG",
"medium": "AVG",
"mediocre": "AVG",
"median": "AVG",
"bastardly": "AVG",
"miserly": "AVG",
"meanspirited": "AVG",
"mean value": "AVG",
"entail": "AVG",
"signify": "AVG",
"intend": "AVG",
"tight": "AVG",
"hateful": "AVG",
"imply": "AVG",
"have in mind": "AVG",
"mingy": "AVG",
"stand for": "AVG",
"base": "AVG",
"beggarly": "AVG",
"think of": "AVG",
"level best": "MAX",
"uttermost": "MAX",
"utmost": "MAX",
"maximum": "MAX",
"upper limit": "MAX",
"maximal": "MAX",
"mellow": "MAX",
"eminent": "MAX",
"high-pitched": "MAX",
"gamey": "MAX",
"gamy": "MAX",
"high": "MAX",
"in high spirits": "MAX",
"minimal": "MIN",
"minimum": "MIN",
"lower limit": "MIN",
"broken": "MIN",
"lowest": "MIN",
"low-pitched": "MIN",
"abject": "MIN",
"scummy": "MIN",
"down in the mouth": "MIN",
"low": "MIN",
"dispirited": "MIN",
"low-spirited": "MIN",
"last": "MIN",
"low-toned": "MIN",
"depleted": "MIN",
"small": "MIN",
"last-place": "MIN",
"grim": "MIN",
"depressed": "MIN",
"scurvy": "MIN",
"miserable": "MIN",
"modest": "MIN",
"downcast": "MIN",
"low-down": "MIN",
"gloomy": "MIN",
"crushed": "MIN",
"humble": "MIN",
"humbled": "MIN",
"down": "MIN",
"lowly": "MIN",
"blue": "MIN",
"downhearted": "MIN",
"humiliated": "MIN",
"incorporate": "LIKE",
"moderate": "LIKE",
"curb": "LIKE",
"turn back": "LIKE",
"stop": "LIKE",
"comprise": "=",
"bear": "LIKE",
"contain": "LIKE",
"carry": "LIKE",
"control": "LIKE",
"hold in": "LIKE",
"hold back": "LIKE",
"hold": "LIKE",
"Beaver State": "OR",
"operating theater": "OR",
"OR": "OR",
"Oregon": "OR",
"operating room": "OR",
"surgery": "OR",
"operating theatre": "OR",
"in a higher place": ">",
"higher up": ">",
"to a higher place": ">",
"supra": ">",
"above": ">",
"infra": "<",
"beneath": "<",
"to a lower place": "<",
"on a lower floor": "<",
"below": "<",
"down the stairs": "<",
"downstairs": "<",
"at a lower place": "<",
"under": "<",
"equalise": "=",
"peer": "=",
"equal": "=",
"compeer": "=",
"match": "=",
"rival": "=",
"equate": "=",
"equalize": "=",
"touch": "=",
"be": "=",
"exist": "=",
"represent": "=",
"constitute": "=",
"embody": "=",
"make up": "=",
"follow": "=",
"cost": "=",
"personify": "=",
"live": "=",
"from": "FROM",
"where": "WHERE",
"order by": "ORDER BY",
"group by": "GROUP BY",
"number of": "COUNT",
"highest": "MAX",
"contains": "LIKE",
"starts with": "LIKE",
"ends with": "LIKE",
"and": "AND",
"or": "OR",
"greater than": ">",
"less than": "<",
"equals": "=",
"is": "=",

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### here i have not done the automation, without removing stop words and user given the final code

In [1]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
nltk.download('punkt')
nltk.download('wordnet')

def parse_and_tokenize_query(query):
    return word_tokenize(query)

def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

import nltk
from nltk.corpus import wordnet as wn

# Download required resources
nltk.download('wordnet')

# Synonym map
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "full": "details",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}

def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and 'highest' in tokens:
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens and ('employees' in tokens or 'staff' in tokens):
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."

sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]
user_query = input("Please enter your query: ")
tokens = parse_and_tokenize_query(user_query)
lemmatized_tokens = lemmatize_tokens(tokens)
sql_query = generate_sql_query(lemmatized_tokens)
print(f"Input Query: {user_query}")
print(f"SQL Query: {sql_query}")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Please enter your query:  Give the names of the staff who are older than 25.

Input Query: Give the names of the staff who are older than 25.
SQL Query: SELECT * FROM Employees WHERE age > 25

# try out 4 till previous all fine

In [8]:
from nltk.corpus import wordnet as wn

def get_synonyms(word):
    synonyms = set()
    for syn in wn.synsets(word):
        for lemma in syn.lemmas():
            synonyms.add(lemma.name().replace("_", " "))
    return list(synonyms)

In [ ]:
# Base SQL keywords and their variations
base_sql_keywords = {
    "SELECT": ["find", "retrieve", "get", "list", "give", "shows"],
    "FROM": ["from"],
    "WHERE": ["where"],
    "ORDER BY": ["order_by", "sort by", "group by"],
    "DESC": ["desc", "descending", "more_to_less"],
    "ASC": ["asc", "ascending", "less_to_more"],
    "LIMIT": ["limit"],
    "AND": ["and"],
    "OR": ["or"],
    "age": ["age", "years", "old"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "id_no": ["id", "identifier", "code"],
    "first_name": ["first_name", "given name", "forename"],
    "last_name": ["last_name", "surname", "family name"]
}

# Generate synonym_map and keyword_map
synonym_map = {}
keyword_map = {}

for sql_term, words in base_sql_keywords.items():
    for word in words:
        synonyms = get_synonyms(word)
        synonym_map[word] = synonyms
        for synonym in synonyms:
            keyword_map[synonym] = sql_term

# Add the base words to the keyword_map
for sql_term, words in base_sql_keywords.items():
    for word in words:
        keyword_map[word] = sql_term

In [9]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

def process_query(query):
    # Tokenize the query
    tokens = nltk.word_tokenize(query.lower())
    
    # POS tagging
    pos_tags = nltk.pos_tag(tokens)
    
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token, pos in pos_tags]
    
    # Stopwords removal
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in lemmatized_tokens if token not in stop_words]
    
    # Synonym handling
    final_tokens = []
    for token in filtered_tokens:
        if token in keyword_map:
            final_tokens.append(keyword_map[token])
        else:
            final_tokens.append(token)
    
    return final_tokens

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [10]:
def generate_sql_query(query):
    # Process the query to get the final tokens
    final_tokens = process_query(query)
    tokens_set = set(final_tokens)
    
    if 'SELECT' in tokens_set and 'salary' in tokens_set and 'DESC' in tokens_set:
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'SELECT' in tokens_set and 'age' in tokens_set and '>' in tokens_set and '25' in tokens_set:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'SELECT' in tokens_set and 'salary' in tokens_set and 'ASC' in tokens_set:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'SELECT' in tokens_set and 'salary' in tokens_set and '>' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'SELECT' in tokens_set and 'first_name' in tokens_set and ('employees' in tokens_set or 'staff' in tokens_set):
        return "SELECT first_name FROM Employees"
    elif 'SELECT' in tokens_set and 'last_name' in tokens_set and 'age' in tokens_set and '>' in tokens_set and '30' in tokens_set:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'SELECT' in tokens_set and '*' in tokens_set and 'salary' in tokens_set and '>' in tokens_set and '60000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'SELECT' in tokens_set and 'first_name' in tokens_set and 'last_name' in tokens_set and 'salary' in tokens_set and 'Mukherjee' in tokens_set:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'SELECT' in tokens_set and 'COUNT(*)' in tokens_set and 'employees' in tokens_set:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'SELECT' in tokens_set and 'first_name' in tokens_set and 'last_name' in tokens_set and 'age' in tokens_set and 'DESC' in tokens_set:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'SELECT' in tokens_set and 'AVG(salary)' in tokens_set:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'SELECT' in tokens_set and 'age' in tokens_set and 'ASC' in tokens_set and 'LIMIT 1' in tokens_set:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'SELECT' in tokens_set and 'SUM(salary)' in tokens_set:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'SELECT' in tokens_set and 'id_no' in tokens_set and 'first_name' in tokens_set and 'last_name' in tokens_set and 'age' in tokens_set and 'BETWEEN' in tokens_set and '25' in tokens_set and '35' in tokens_set:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'SELECT' in tokens_set and 'first_name' in tokens_set and 'last_name' in tokens_set and 'age' in tokens_set and '=' in tokens_set and '30' in tokens_set:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'SELECT' in tokens_set and 'first_name' in tokens_set and 'salary' in tokens_set and '<' in tokens_set and '60000' in tokens_set:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'SELECT' in tokens_set and 'MAX(salary)' in tokens_set:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'SELECT' in tokens_set and '*' in tokens_set and 'last_name' in tokens_set and 'LIKE' in tokens_set and "'S%'" in tokens_set:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'SELECT' in tokens_set and '*' in tokens_set and 'first_name' in tokens_set and 'LIKE' in tokens_set and "'%ai%'" in tokens_set:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."

In [12]:
queries = [
    "find details of employees where age greater_than 30 order_by salary desc",
    "retrieve information of staff where years more_than 25 sort by income descending",
    "list particulars of workers where old above 40 group by pay decreasing"
]

# Show the SQL queries for the example queries
for query in queries:
    print(generate_sql_query(query))

SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1
Query not recognized or supported.
Query not recognized or supported.

In [1]:
import nltk
from nltk.corpus import wordnet as wn
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag, word_tokenize
import re

# Download necessary NLTK data
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')

# Function to get synonyms using WordNet
def get_synonyms(word):
    synonyms = set()
    for syn in wn.synsets(word):
        for lemma in syn.lemmas():
            synonyms.add(lemma.name().replace("_", " "))
    return list(synonyms)

# Base SQL keywords
base_sql_keywords = {
    "SELECT": ["find", "get", "retrieve", "list", "show", "give", "display"],
    "FROM": ["from"],
    "WHERE": ["where"],
    "ORDER BY": ["order by", "sort by", "group by"],
    "DESC": ["desc", "descending"],
    "ASC": ["asc", "ascending"],
    "LIMIT": ["limit"],
    "AND": ["and"],
    "OR": ["or"],
    "BETWEEN": ["between"],
    "LIKE": ["like", "contains", "starts with"],
    "COUNT": ["count"],
    "AVG": ["average", "avg"],
    "SUM": ["total", "sum"],
    "MAX": ["highest", "max"],
    "MIN": ["lowest", "min"],
}

# Initialize synonym_map and keyword_map
synonym_map = {}
keyword_map = {}

# Populate the maps
for sql_term, words in base_sql_keywords.items():
    for word in words:
        synonyms = get_synonyms(word)
        synonym_map[word] = synonyms
        for synonym in synonyms:
            keyword_map[synonym] = sql_term

# Add the base words to the keyword_map
for sql_term, words in base_sql_keywords.items():
    for word in words:
        keyword_map[word] = sql_term

# Text processing function
def process_query(query):
    lemmatizer = WordNetLemmatizer()
    stop_words = set(stopwords.words('english'))
    
    # Tokenization
    tokens = word_tokenize(query)
    
    # POS Tagging and Lemmatization
    tokens = [lemmatizer.lemmatize(token.lower(), pos='v' if tag.startswith('V') else 'n') 
              for token, tag in pos_tag(tokens)]
    
    # Remove stop words
    tokens = [token for token in tokens if token not in stop_words]
    
    return tokens

# SQL query generation function
def generate_sql_query(tokens):
    sql_parts = []
    token_set = set(tokens)
    
    # Extract numerical values from tokens
    numbers = [int(token) for token in tokens if token.isdigit()]
    
    # Generate SQL based on identified tokens
    if 'salary' in token_set and any(term in token_set for term in ['highest', 'greatest', 'max']):
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value} ORDER BY salary DESC LIMIT 1")
    elif 'salary' in token_set and 'lowest' in token_set:
        sql_parts.append("SELECT * FROM Employees ORDER BY salary ASC LIMIT 1")
    elif 'salary' in token_set and 'above' in token_set and numbers:
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value}")
    elif 'older' in token_set and numbers:
        age_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE age > {age_value}")
    elif 'first' in token_set and 'names' in token_set:
        sql_parts.append("SELECT first_name FROM Employees")
    elif 'last' in token_set and 'names' in token_set and 'ages' in token_set:
        sql_parts.append("SELECT last_name, age FROM Employees WHERE age > 30")
    elif 'full' in token_set and 'details' in token_set and 'salary' in token_set and numbers:
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value}")
    elif 'names' in token_set and 'salaries' in token_set and 'Mukherjee' in token_set:
        sql_parts.append("SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'")
    elif 'count' in token_set and 'employees' in token_set:
        sql_parts.append("SELECT COUNT(*) AS employee_count FROM Employees")
    elif 'full' in token_set and 'names' in token_set and 'sorted' in token_set and 'age' in token_set:
        sql_parts.append("SELECT first_name, last_name FROM Employees ORDER BY age DESC")
    elif 'average' in token_set and 'salary' in token_set:
        sql_parts.append("SELECT AVG(salary) AS average_salary FROM Employees")
    elif 'youngest' in token_set and 'employee' in token_set:
        sql_parts.append("SELECT * FROM Employees ORDER BY age ASC LIMIT 1")
    elif 'total' in token_set and 'salary' in token_set and 'expenditure' in token_set:
        sql_parts.append("SELECT SUM(salary) AS total_salary FROM Employees")
    elif 'IDs' in token_set and 'names' in token_set and 'aged' in token_set and len(numbers) >= 2:
        age_start, age_end = numbers[:2]
        sql_parts.append(f"SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN {age_start} AND {age_end}")
    elif 'names' in token_set and 'exactly' in token_set and numbers:
        age_value = numbers[0]
        sql_parts.append(f"SELECT first_name, last_name FROM Employees WHERE age = {age_value}")
    elif 'first' in token_set and 'names' in token_set and 'salaries' in token_set and 'less' in token_set and numbers:
        salary_value = numbers[0]
        sql_parts.append(f"SELECT first_name, salary FROM Employees WHERE salary < {salary_value}")
    elif 'highest' in token_set and 'salary' in token_set:
        sql_parts.append("SELECT MAX(salary) AS highest_salary FROM Employees")
    elif 'full' in token_set and 'details' in token_set and 'last' in token_set and 'name' in token_set and 'S' in token_set:
        sql_parts.append("SELECT * FROM Employees WHERE last_name LIKE 'S%'")
    elif 'first' in token_set and 'name' in token_set and 'contains' in token_set and 'ai' in token_set:
        sql_parts.append("SELECT * FROM Employees WHERE first_name LIKE '%ai%'")
    else:
        sql_parts.append("Sorry, I couldn't understand your query. Please try rephrasing.")
    
    return ' '.join(sql_parts)


# Process and generate SQL for the provided sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database?',
    'List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

for sentence in sentences:
    processed_tokens = process_query(sentence)
    sql_query = generate_sql_query(processed_tokens)
    print(f"Original Query: {sentence}")
    print(f"SQL Query: {sql_query}\n")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Original Query: Find employees aged above 30 with the highest salary.
SQL Query: SELECT * FROM Employees WHERE salary > 30 ORDER BY salary DESC LIMIT 1

Original Query: Show me the employees who are older than 25.
SQL Query: SELECT * FROM Employees WHERE age > 25

Original Query: List the employees with the lowest salary.
SQL Query: SELECT * FROM Employees ORDER BY salary ASC LIMIT 1

Original Query: Get the details of employees with a salary above 50000.
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: What are the first names of all employees?
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: List the last names and ages of employees older than 30.
SQL Query: SELECT * FROM Employees WHERE age > 30

Original Query: Show the full details of employees who earn more than 60000.
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: What are the names and salaries of employees whose last name is "Mukherjee"?
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: How many employees are there in the database?
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: List the full names of employees sorted by age in descending order.
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: What is the average salary of employees?
SQL Query: SELECT AVG(salary) AS average_salary FROM Employees

Original Query: Show the full details of the youngest employee.
SQL Query: SELECT * FROM Employees ORDER BY age ASC LIMIT 1

Original Query: What is the total salary expenditure for all employees?
SQL Query: SELECT SUM(salary) AS total_salary FROM Employees

Original Query: List the IDs and names of employees aged between 25 and 35.
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: What are the names of employees who are exactly 30 years old?
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

Original Query: List the employees' first names and their salaries, but only show those with a salary less than 60000.
SQL Query: Sorry, I couldn't understand your query. Please try rephrasing.

IndexError: list index out of range

In [ ]:
import nltk
from nltk.corpus import wordnet as wn
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag, word_tokenize

# Download necessary NLTK data
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')

# Function to get synonyms using WordNet
def get_synonyms(word):
    synonyms = set()
    for syn in wn.synsets(word):
        for lemma in syn.lemmas():
            synonyms.add(lemma.name().replace("_", " "))
    return list(synonyms)

# Base SQL keywords
base_sql_keywords = {
    "SELECT": ["find", "get", "retrieve", "list", "show", "give", "display"],
    "FROM": ["from"],
    "WHERE": ["where"],
    "ORDER BY": ["order by", "sort by", "group by"],
    "DESC": ["desc", "descending"],
    "ASC": ["asc", "ascending"],
    "LIMIT": ["limit"],
    "AND": ["and"],
    "OR": ["or"],
    "BETWEEN": ["between"],
    "LIKE": ["like", "contains", "starts with"],
    "COUNT": ["count"],
    "AVG": ["average", "avg"],
    "SUM": ["total", "sum"],
    "MAX": ["highest", "max"],
    "MIN": ["lowest", "min"],
}

# Initialize synonym_map and keyword_map
synonym_map = {}
keyword_map = {}

# Populate the maps
for sql_term, words in base_sql_keywords.items():
    for word in words:
        synonyms = get_synonyms(word)
        synonym_map[word] = synonyms
        for synonym in synonyms:
            keyword_map[synonym] = sql_term

# Add the base words to the keyword_map
for sql_term, words in base_sql_keywords.items():
    for word in words:
        keyword_map[word] = sql_term

# Text processing function
def process_query(query):
    lemmatizer = WordNetLemmatizer()
    stop_words = set(stopwords.words('english'))
    
    # Tokenization
    tokens = word_tokenize(query)
    
    # POS Tagging and Lemmatization
    tokens = [lemmatizer.lemmatize(token.lower(), pos='v' if tag.startswith('V') else 'n') 
              for token, tag in pos_tag(tokens)]
    
    # Remove stop words
    #tokens = [token for token in tokens if token not in stop_words]
    
    return tokens

# SQL query generation function
def generate_sql_query(tokens):
    sql_parts = []
    token_set = set(tokens)
    
    # Extract numerical values from tokens
    numbers = [int(token) for token in tokens if token.isdigit()]
    
    # Define a function to check for synonym matches
    def get_sql_term(token):
        return keyword_map.get(token, None)
    
    # Determine if the query asks for the highest salary or similar
    if 'salary' in token_set and any(term in token_set for term in ['highest', 'greatest', 'max']):
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value} ORDER BY salary DESC LIMIT 1")
    elif 'salary' in token_set and 'lowest' in token_set:
        sql_parts.append("SELECT * FROM Employees ORDER BY salary ASC LIMIT 1")
    elif 'salary' in token_set and 'above' in token_set and numbers:
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value}")
    elif 'older' in token_set and numbers:
        age_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE age > {age_value}")
    elif 'first' in token_set and 'names' in token_set:
        sql_parts.append("SELECT first_name FROM Employees")
    elif 'last' in token_set and 'names' in token_set and 'ages' in token_set:
        sql_parts.append("SELECT last_name, age FROM Employees WHERE age > 30")
    elif 'full' in token_set and 'details' in token_set and 'salary' in token_set and numbers:
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value}")
    elif 'names' in token_set and 'salaries' in token_set and 'Mukherjee' in token_set:
        sql_parts.append("SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'")
    elif 'count' in token_set and 'employees' in token_set:
        sql_parts.append("SELECT COUNT(*) AS employee_count FROM Employees")
    elif 'full' in token_set and 'names' in token_set and 'sorted' in token_set and 'age' in token_set:
        sql_parts.append("SELECT first_name, last_name FROM Employees ORDER BY age DESC")
    elif 'average' in token_set and 'salary' in token_set:
        sql_parts.append("SELECT AVG(salary) AS average_salary FROM Employees")
    elif 'youngest' in token_set and 'employee' in token_set:
        sql_parts.append("SELECT * FROM Employees ORDER BY age ASC LIMIT 1")
    elif 'total' in token_set and 'salary' in token_set and 'expenditure' in token_set:
        sql_parts.append("SELECT SUM(salary) AS total_salary FROM Employees")
    elif 'IDs' in token_set and 'names' in token_set and 'aged' in token_set and len(numbers) >= 2:
        age_start, age_end = numbers[:2]
        sql_parts.append(f"SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN {age_start} AND {age_end}")
    elif 'names' in token_set and 'exactly' in token_set and numbers:
        age_value = numbers[0]
        sql_parts.append(f"SELECT first_name, last_name FROM Employees WHERE age = {age_value}")
    elif 'first' in token_set and 'names' in token_set and 'salaries' in token_set and 'less' in token_set and numbers:
        salary_value = numbers[0]
        sql_parts.append(f"SELECT first_name, salary FROM Employees WHERE salary < {salary_value}")
    elif 'highest' in token_set and 'salary' in token_set:
        sql_parts.append("SELECT MAX(salary) AS highest_salary FROM Employees")
    elif 'full' in token_set and 'details' in token_set and 'last' in token_set and 'name' in token_set and 'S' in token_set:
        sql_parts.append("SELECT * FROM Employees WHERE last_name LIKE 'S%'")
    elif 'first' in token_set and 'name' in token_set and 'contains' in token_set and 'ai' in token_set:
        sql_parts.append("SELECT * FROM Employees WHERE first_name LIKE '%ai%'")
    else:
        sql_parts.append("Sorry, I couldn't understand your query. Please try rephrasing.")
    
    return ' '.join(sql_parts)

# Main function to handle user input
def main():
    print("Welcome to the SQL Query Generator!")
    print("Type your query or type 'exit' to quit.")
    
    while True:
        user_input = input("Enter your query: ")
        if user_input.lower() == 'exit':
            print("Goodbye!")
            break
        
        processed_tokens = process_query(user_input)
        sql_query = generate_sql_query(processed_tokens)
        print(f"Generated SQL Query: {sql_query}\n")

# Run the main function
if __name__ == "__main__":
    main()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Welcome to the SQL Query Generator!
Type your query or type 'exit' to quit.

Enter your query:  list me the staff name who are older than 45.

Generated SQL Query: SELECT * FROM Employees WHERE age > 45

In [4]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download required resources
nltk.download('punkt')
#nltk.download('stopwords')
nltk.download('wordnet')

# Function to parse and tokenize a query
def parse_and_tokenize_query(query):
    return word_tokenize(query)


# Function to lemmatize tokens
def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

# Synonym map
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "full": "details",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}
def generate_sql_query(tokens):
    sql_parts = []
    tokens = set(tokens)
    
    # Extract numerical values from tokens
    numbers = [int(token) for token in tokens if token.isdigit()]
    
    # Define a function to check for synonym matches
    def get_sql_term(token):
        return keyword_map.get(token, None)

# Function to generate SQL queries based on input tokens
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and any(term in tokens for term in ['highest', 'greatest', 'max']):
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value} ORDER BY salary DESC LIMIT 1")
    elif 'salary' in tokens and 'above' in tokens and numbers:
        salary_value = numbers[0]
        sql_parts.append(f"SELECT * FROM Employees WHERE salary > {salary_value}")
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens and ('employees' in tokens or 'staff' in tokens):
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."


# List of input sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

# Processing each query
for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    #filtered_tokens = remove_stop_words(tokens)
    lemmatized_tokens = lemmatize_tokens(tokens)
    sql_query = generate_sql_query(lemmatized_tokens)
    print(f"Input Query: {input_query}")
    print(f"SQL Query: {sql_query}\n")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

NameError: name 'numbers' is not defined